a{
    display: block;
    width: 150px;
    height: 100px;
    background-color: rgb(139, 139, 183);
    border: solid 2px black;
    color:rgb(15, 14, 14);
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    margin: 15px auto;
}